.title {
  font-size: var(--text-4xl);
}

.head {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--space-3);
}

.center {
  --cluster-justify: center;
}
